@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<p><h3>On our platform, you can leave an advertisement for the delivery of your house / apartment / room or find similar residential assistance. Thanks for stopping by.</h3></p>
